.nav {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .btn, .nav button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover, .nav button:hover {
    background-color: #2980b9;
  }

.nav1 {
    background-color: #3498db;
    color: white;
    margin-left:120px ;
    margin-top: 2px;
    display: flex;
    align-self:center;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    padding:5px;
    
  }